body {
  height: 100%;
  margin: 0;
}



#sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgb(32, 178, 170);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3em;
}

#top {
  background-color: #21b2aa;
  padding: 0 1em
}

.sidebarContents {
  display: block;
}

.sidebarContents ul {
  padding: 1em;
  transition: 0.3s;
  margin: 0;
}

.sidebarContents li {
  margin-bottom: 0.5em;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 1.25em;
  list-style-type: none;
  color: white;
  transition: 0.3s;
  font-family: Roboto;
  white-space: nowrap;
  overflow: hidden;
}

.sidebarContents li:hover {
  background-color: #189B95;
  cursor: pointer;
}

#header {
  display: inline-block;
  margin: 1em;
}

#hamburgerButton {
  display: inline-block;
  border: none;
  background-color: lightseagreen;
  width: 3em;
  height: 3em;
  font-size: 1em;
  color: white;
  z-index: 25;
}

#barButton {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: lightseagreen;
  width: 3em;
  height: 3em;
  font-size: 1em;
  color: white;
}

#barButton:hover {
  background-color: red;
  cursor: pointer;
}

#hamburgerButton:hover {
  background-color: #088B85;
  cursor: pointer;
}
